/target
/Cargo.lock

# ignoring txt extensions
*.txt

# allowing examples
!Input/conll.txt
!Input/constituencies.txt

# ignoring png extensions
*.png

# allowing examples
!Output/constituency_plot.png
!Output/dependency_plot.png